.header {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin: .5rem 0;

    &_bag {
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;

        &-pNumber {
            width: 1.3rem;
            height: 1.3rem;
            border: none;
            border-radius: 1rem;
            background-color: rgba(245, 13, 13, 0.281);
            color: white;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
}